<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}::Доска объявлений</title>
    <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}">
</head>
<body>
    <header>
        <h1>Объявления</h1>
    </header>
    <span class="register">
         <a href="{% url 'register' %}">Регистрация</a>
    </span>
    <span class="login">
        <a href="{% url 'login' %}">Вход</a>
    </span>
    <nav>
        <p><a href="{% url 'index' %}">Главная</a></p>
        <p><a class="add" href="{% url 'add' %}">Добавить</a></p>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>