<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Мои объявления</title>
</head>
<body>
{% for post in posts %}
    <div class="ads">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        {% if post.price == None %}
        <p>Договорная</p>
        {% else %}
        <p>{{ post.price }} &#8381;</p>
        {% endif %}
        {% for rubric in rubrics %}
        {% if rubric == post.rubric %}
        <a class="rubric_post" href="{% url 'by_rubric' rubric.pk %}">{{ rubric }}</a>
        {% endif %}
        {% endfor %}
        <p>{{ post.published|date:"d.m.Y" }}</p>
        <hr align="left">
    </div>
{% endfor %}
</body>
</html>