{% extends "layout/basic.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ current_rubric.name }}{% endblock %}
{% block content %}
<h2>Рубрика: {{current_rubric.name }}</h2>
{% if bs|length == 0 %}
    <p>На данный момент ещё не опубликовано ни одного объявления в этой рубрике. Станьте первым продавцом <a href="{% url 'add' %}">Добавить объявление</a></p>
{% else %}
{% for b in bs %}
<div class="ads">
    <h2>{{ b.title }}</h2>
    {% if b.image %}
    <img src="{% thumbnail b.image 'default' %}">
    {% else %}
    <img width="135" height="90" src="{% static 'board/empty.jpg' %}">
    {% endif %}
    <p>{{ b.content }}</p>
    {% if b.price == None %}
    <p>Договорная</p>
    {% else %}
    <p>{{ b.price }} &#8381;</p>
    {% endif %}
    <p>{{ b.contacts }}</p>
    <p>{{ b.published }}</p>
    <hr align="left">
</div>
{% endfor %}
<div class="ads">
    {% if page.has_previous %}
    <a class="pointer" href="?page={{ page.previous_page_number }}">&laquo;</a>
    {% endif %}
    {% for i in pages %}
    {% if page.number == i %}
    <a class="active" title="Вы сейчас на этой странице" href="?page={{ i }}">{{ i }}</a>
    {% else %}
    <a class="page_number" href="?page={{ i }}">{{ i }}</a>
    {% endif %}
    {% endfor %}
    {% if page.has_next %}
    <a class="pointer" href="?page={{ page.next_page_number }}">&raquo;</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}