<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_rubric.name }} :: Доска объявлений</title>
</head>
<body>
    <h1>Объявления</h1>
    <h2>Рубрика: {{current_rubric.name }}</h2>
    <div>
        <p><a href="{% url 'index' %}">Главная</a></p>
        {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
    {% for b in bs %}
    <div>
        <h2>{{ b.title }}</h2>
        <p>{{ b.content }}</p>
        <p>{{ b.published|date:"d.m.Y" }}</p>
    </div>
    {% endfor %}
</body>
</html>