{% extends "layout/basic.html" %}
{% block content %}
{% for b in bs %}
<div class="ads">
    <h2>{{ b.title }}</h2>
    <p>{{ b.content }}</p>
    {% if b.price == None %}
    <p>Договорная</p>
    {% else %}
    <p>{{ b.price }} &#8381;</p>
    {% endif %}
    <a href="{ % url 'by_rubric' rubric.pk % }">{{ rubric }}</a>
    <p>{{ b.published|date:"d.m.Y" }}</p>
    <hr align="left">
</div>
{% endfor %}
<div class="ads">
    {% if page.has_previous %}
    <a class="pointer" href="?page={{ page.previous_page_number }}">&laquo;</a>
    {% endif %}
    {% for page in page.paginator.page_range %}
    <a class="page_number" href="?page={{ page }}">{{ page }}</a>
    {% endfor %}
    {% if page.has_next %}
    <a class="pointer" href="?page={{ page.next_page_number }}">&raquo;</a>
    {% endif %}
</div>
{% endblock %}
