{% extends "layout/basic.html" %}
{% block content %}
{% for b in bs %}
<div class="ads">
    <h2>{{ b.title }}</h2>
    <p>{{ b.content }}</p>
    {% if b.price == None %}
    <p>Договорная</p>
    {% else %}
    <p>{{ b.price }} &#8381;</p>
    {% endif %}
    <a href="{ % url 'by_rubric' rubric.pk % }">{{ rubric }}</a>
    <p>{{ b.published|date:"d.m.Y" }}</p>
    <hr align="left">

</div>
{% endfor %}
<div>
    {% if page.has_previous %}
    <a href="?page={{page.previous_page_number}}">&lt;</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    {% endif %}
    Часть №{{ page.number }} из {{ page.paginator.num_pages }}
    {% if page.has_next %}
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="?page={{page.next_page_number}}">&gt;</a>
    {% endif %}
</div>
{% endblock %}
