{% extends "layout/basic.html" %}
{% block title %}Поиск{% endblock %}
{% block content %}
    <h1>Объявления по запросу "{{ cd.keyword }}"</h1>
    <h3>Найдено {{ total_results }} совпадений </h3>
    {% if results == '' %}
        <p>Ничего не найдено</p>
    {% else %}
    {% for result in results %}
    <div class="ads">
        <h2>{{ result.title }}</h2>
        <p>{{ result.content }}</p>
        {% if result.price == None %}
        <p>Договорная</p>
        {% else %}
        <p>{{ result.price }} &#8381;</p>
        {% endif %}
        {% for rubric in rubrics %}
        {% if rubric == result.rubric %}
        <a class="rubric_post" href="{% url 'by_rubric' rubric.pk %}">{{ rubric }}</a>
        {% endif %}
        {% endfor %}
        <p>{{ result.published|date:"d.m.Y" }}</p>
        <hr align="left">
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}