{% extends "layout/basic.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {% with ads|first as ad %}
        Профиль '{{ ad.user }}'
    {% endwith %}
{% endblock %}
{% block content %}
{% for ad in ads %}
    {% if ad == ads|first %}
        {% if user.is_authenticated and ad.user == user %}
            <h2>Мои объявления</h2>
        {% else %}
            <h2>Объявления {{ ad.user.username }}</h2>
        {% endif %}
    {% endif %}
    <div class="pc">
        <div class="ads">
            {% if user.is_authenticated and ad.user == user %}
            <div style="float: right">
                <p><a class="edit_ad" href="{% url 'edit_ad' ad.pk %}">Редактировать</a></p>
                <p><a style="padding-top: 5px" class="delete_ad" href="{% url 'delete_ad' ad.pk %}">Удалить</a></p>
            </div>
            {% endif %}
            <h2>{{ ad.title }}</h2>
            {% if ad.image %}
            <img src="{% thumbnail ad.image 'default' %}">
            {% else %}
            <img width="135" height="90" src="{% static 'board/empty.jpg' %}">
            {% endif %}
            <p>{{ ad.content }}</p>
            {% if ad.price == None %}
            <p>Договорная</p>
            {% else %}
            <p><b>{{ ad.price }} &#8381;</b></p>
            {% endif %}
            <p><a class="phone" title="Связаться с продавцом" href="tel:{{ ad.contacts }}">{{ ad.contacts }}</a></p>
            {% for rubric in rubrics %}
            {% if rubric == ad.rubric %}
            <a title="Просмотр объявлений из рубрики '{{ rubric }}'" class="rubric_post" href="{% url 'by_rubric' rubric.pk %}">{{ rubric }}</a>
            {% endif %}
            {% endfor %}
            {% if ad.is_edited is False %}
            <p>{{ ad.published }}</p>
            {% else %}
            <p title="Изменено {{ ad.edited }}">{{ ad.published }}</p>
            {% endif %}
            <hr align="left">
        </div>
        {% if ad == ads|first %}
            <div class="user_data">
                <p style="color: brown">Данные о пользователе</p>
                <p>Ник пользователя: {{ ad.user.username }}</p>
                {% if user.is_authenticated %}
                <p>Имя: {{ ad.user.first_name }}</p>
                <p>На сайте с {{ ad.user.date_joined|date:"m.Y" }}</p>
                {% else %}
                <p>Хотите узнать больше, пожалуйста, <a href="{% url 'login' %}">авторизуйтесь</a></p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
